.header{
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.3);
    background-color: white;

}

.header-left{
    justify-content: left;
}

.header-right{
    justify-content: right;
}